@import "tailwindcss";

:root {
  --product-gradient: #ffffff;
  /* Default fallback */
}

body {
  background: var(--product-gradient);
  color: #fff;
  transition: background 0.8s ease-in-out;
  overflow-x: hidden;
  font-family: var(--font-outfit), sans-serif;
}

/* Custom Selection */
::selection {
  @apply bg-orange-500 text-white;
}

/* Hide Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}